:root {
    --dark-page-bg: #111111;
    --dark-header-bg: #232323;
    --light-page-bg: hsl(0, 100%, 100%);
    --light-header-bg: hsl(0, 0%, 54%);
    font-family: Arial, Helvetica, sans-serif;

}

body {
    background-color: rgb(67, 165, 245) !important;
    font-family: 'Montserrat';
}

.footer {
    width: 100%;
    height: 20vh;
    background: #263238;
}


.nav-link {

    margin: 10px;
    font-weight: bold;

}


.landing-page {
    background-color: #42A5F5 !important;
}

.login-form {
    width: 100%;
    max-width: 20rem;
    padding: 15px;
    margin: auto;
    height: auto;
}

.login-form-register {
    width: 100%;
    max-width: 40rem;
    padding: 15px;
    margin: auto;
    height: 100%;

}

.btn.wow-register {
    width: 35%;
    margin: auto;
}

.btn-primary {
    background-color: #4c9aec;
}

.login-form-register {
    width: 100%;
    max-width: 40rem;
    padding: 15px;
    margin: auto;
    height: 100%;

}

.btn.wow-register {
    width: 35%;
    margin: auto;
}

.text {
    margin-top: 100px;

}

.p-text {
    font-size: 20px;
    margin-bottom: 0 !important;

}

.Form1 {
    background: white;
    margin: auto;
}

.form-group {
    padding: 0rem 2rem 0rem 2rem;
}

.LP_I {
    width: 100%;
    height: 90vh;
}

.text-center {
    margin: auto;
    text-align: center;
}

.mar-5hv {
    margin: 5vh;
}


.respnsiv_form {

    max-width: 45%;
}


.form-control {
    background-color: rgb(245, 245, 245);

}

/*CARD CARD CREATE Your PROFILE///////////////////////////////*/
.card-head {
    padding: 2.5rem;
    background-color: #EEEEEE !important;
}

.blue-card {
    background-color: #42A5F5 !important;
    height: 8rem;
}

.text-center.card-r {
    padding: 2rem !important;
}

.foto-user {
    background-color: white !important;
    border: 1px solid #BAAEAE !important;
    border-radius: 100%;
    padding: 1.2rem !important;
    position: relative;
    bottom: 5rem;
    max-width: 10rem;
    max-height: 10rem;
}

.profile-form.form-group {
    padding: 1.5rem 3.5rem 3.5rem 3.5rem !important;


}

.profileinput {
    border: 1px solid #add9fd !important;
}

.social-control {
    border: 1px solid #add9fd !important;

}

.icons {
    width: 2rem;
    height: 2rem;
}

.profile-text {
    text-align: center;
    padding-bottom: 1rem;
}


/*CARD CARD CREATE Your PROFILE////////////////////////////////*/

/*DCI Student LIST  START /////////////////////////////////////////////*/

.profiles-h1 {
    color: #5f5f5f;
}

.profiles-p1 {
    color: #5f5f5f;
}

.profiles {
    background-color: #f0f2f5;
    padding: 3rem;
    border-radius: 5px;
    width: 90%;
    margin: auto;
}


.hide {
    opacity: 0;
}

path {
    color: #42A5F5 !important;

}

.dci-student {

    box-shadow: 0px 1px 6px #a3cada;
    border-radius: 0.6rem;
    margin-top: 2rem !important;
    margin: 0.5rem;
    background-color: #ffffff;
}

.dci-student:hover {
    transform: scale(1.02);
    transition: all .1s ease-in-out;
}

.student-foto {
    position: relative;
    max-width: 50%;

}

img.head_size.img-fluid {
    max-width: 10rem !important;
    border: 1px solid #C9C9C9;
    border-radius: 50%;
    background: #FFFFFF;
    padding: 1.2rem;
}


.skils-item {
    text-align: center;
}

.rounded-circle {
    display: block;
    border: 1px solid #C9C9C9;
    padding: 1.3rem;

    background-color: white;

}

/*DCI Student LIST  END /////////////////////////////////////////////*/

/*PROFILE TOP     Start /////////////////////////////////////////////*/

.profile-top {
    margin: 0;
}

.profile-containers{
    height: 100%;
    padding-bottom: 2px;
}

.profile-skills {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: absolute;
    background: #ffffff;
    bottom: -14%;
    padding: 0 10%;
}

.profile-grid {
    background-color: #f0f2f5;

}

.skillp {
    color: #43a5f5;
    padding: 0 1rem 1rem 1rem;
    position: absolute;
    width: auto;
    background: #ffffff;
    top: -19%;
    font-size: 1.5rem;

}

.skills-block {
    border: solid 1px #42A5F5;
    margin: 8% 7% 7% 7%;
    border-radius: 5px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}

.span-skills {
    margin: 0 5%;
    width: auto;
}


.mb-5 {
    padding: 3rem;

}
.mb-5.pb-4.lg{
    width:55rem;
    
}


.card-k {
    display: flex;
    position: relative;
    background-color: white !important;
    border: 1px solid #BAAEAE !important;
    border-radius: 100%;
    padding: 1.2rem !important;
    max-width: 10rem;
    max-height: 10rem;
}

.ikon-k {
    display: block;
    position: relative;
}

.user_icon {
    display: block;
    position: absolute;
    width: 2.1rem;
    top: 80%;
    left: 15%;
}

.b-2 {
    background-color: white !important;
}

.card-head.card-t {
    background-color: #42A5F5 !important;
    border-bottom: 1px solid white;
    border-radius: 0.25rem 0.25rem 0rem 0.25rem !important;

}

.name {
    color: white;
    font-size: 28px;
    font-weight: 600;
}

.card-d {
    margin-left: 2rem;
}

.card-head.card-e {
    background-color: #42A5F5 !important;
    border: none;

}

.text-center.profile-top {
    background-color: #42A5F5 !important;
    border-radius: 0rem 0rem 0.45rem 0.45rem !important;
}



.skil {
    color: white;
    font-size: 28px;
    font-weight: 400;
}

.span {
    font-size: 28px !important;
}

.card-profile {
    align-items: center;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    background: #42A5F5;

}

.info-profile {
    margin-left: 5%;
    text-align: left;
}

.about-me {
    background: #eeeeee;
    text-align: center;
    padding: 6%;
    color: black;
    border-radius: 5px;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 50%;
}

.profile-btns {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    margin-bottom: 2rem;
    width: 30%;

}
.profile-btns > button, .profile-link{
    margin-bottom: 15px;
    width: 100%;

}
.profile-btns >  .profile-link> button{
    width: 100%;

}




.dash-items {
    align-items: center;
    display: flex;
    flex-direction: row;
    background: #eeeeee;
    padding: 1rem;
}



.navbar-span {
    margin-left: 5px;
}

.dash-img {
    width: 150px;
    height: 150px;
    border: solid 2px gray;
    border-radius: 50%;
    margin: 2vw;
}


.postBtn {
    cursor: pointer;
    color: blue;
}

.card-title {
    display: flex;
    flex-direction: row;

}

.card-title>img {
    width: 7vw;
    height: 7vw;
    margin-right: 1vw;
    padding: 8px;
    border-radius: 50%;
    background: #efefef;
    border:1px solid rgb(0, 119, 255);

}

.post-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.post-user-nam {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


/*PROFILE TOP     End /////////////////////////////////////////////*/


/*Profile GitHUB START ////////////////////////////////////////////*/

.text-primary {
    color: #424242 !important;
}







/*Profile GitHUB START ////////////////////////////////////////////*/

.profile-github {
    margin-top: 2rem;
    margin-bottom: 2rem;
    border: 1px solid #dedede;
    padding-bottom: 1rem;

}

.repo.bg-white.p-1 {
    border-bottom: 1px solid rgb(196, 196, 196) !important;
}

h4>a {
    color: black !important;
}





/* Chat Style start /////////////////////////////////////////////*/
.chat-container {
    padding: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 89vh;
}

.user-container {
    width: 23%;
    background: white;
    height: 100%;
    padding: 10px;
    border-radius: 5px;
    overflow: scroll;
    border: solid 1px #42A5F5;
    border-radius: 15px;
}

.user-container::-webkit-scrollbar {
    display: none;
}

.user-container {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.chat-user-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
    border-radius: 50px;
    background: gainsboro;
    width: 100%;
    padding: 3px;


}

.chat-user-container:hover {
    background: rgb(54, 243, 63);
    cursor: pointer;
}


.chat-user-img {
    width: 50px;
    padding: 2px;
    border-radius: 50px;
    background: white;
}

.chat-user {
    margin: auto auto auto 5px;

}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 72%;
    height: 100%;
    border: solid 1px #42A5F5;
    border-radius: 15px;
    overflow: hidden;
    padding: 10px;
}

.messages {
    width: 100%;
    height: 100%;
    background: gainsboro;
    background-size: cover;
    border-radius: 5px 5px 0 0;
    padding: 17px;
    overflow: scroll;
}

.messages::-webkit-scrollbar {
    display: none;
}

.messages {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.message {
    width: fit-content;
    border-radius: 15px;
    background: rgb(54, 243, 63);
    padding: 5px 10px 5px 2vw;
    color: white;
    margin-bottom: 5px;
}

.chat-date {
    display: block;
    font-size: 70%;
    color: gray;
    text-align: right;
}

.message-name {

    color: #0094ff;
}

.line {
    border-bottom: solid 1px #42A5F5;
    width: 6%;
    height: 1px;
}

.send-btn {
    color: white;
    background: blue;
    outline: none;
    border: none;
    border-radius: 0px 0px 0px 8px;
    padding: 3px 26px 3px 27px;

}

.send-btn:hover {
    background: rgb(54, 243, 63);
    cursor: pointer;
}

.send-btn:focus {
    outline: 0 !important;
}

.messag-input {
    border-radius: 0px 0px 8px 0px;
    width: 100%;
    border: solid gray 1px;
    outline: none;
    padding: 2px;
    border-left: none;
}

.messag-input:focus {
    outline: 0 !important;
}

.input-gruppe {
    display: flex;
    flex-direction: row;
    align-items: center;
}



/* Chat Style end /////////////////////////////////////////////*/









@media (max-width: 500px) {
    .respnsiv_form {
        max-width: 90%;
    }

    .text {
        font-size: 2.8rem !important;
    }

    .form-group {
        padding: 0;
    }

    section.container,
    div.container {
        padding: 0;
        width: 100%;
    }

    .text-center.card-r {
        padding: 2rem 0rem 0rem 0rem !important
    }

    .card-head {
        padding: 1rem !important;
    }

    .blue-card {
        height: 6rem !important;
    }

    .profile-form.form-group {
        padding: 1rem !important;
    }

    .LP_I {
        width: 100%;
        height: 45vh;

    }

    .profile-top {
        max-width: 100%;
    }

    .card {
        padding: 2rem 0 0 0;

    }

    .card-profile {
        display: flex;
        flex-direction: column;
    }

    .info-profile {
        padding-top: 7%;
        text-align: center;
        margin-left: 0;
    }

    .card-title>img {
        width: 14vw;
        height: 14vw;
        margin-right: 3vw;

    }

    .post-card {
        padding: 0;
    }

    .post-card>.card-body {
        padding: 0.5vw;
    }

    h4>a {
        font-size: 18px;
    }



}

/*////////////////////////////////////DCI Student LIST  for  MAX 700 px START!!   ///////////////////*/
@media (max-width: 700px) {
    .profiles {
        padding: 0rem 0rem 1rem 0rem;
        margin: 0;
    }

    .dci-container {
        padding: 1rem 0rem 0rem 0rem;
    }

    .dci-student {
        padding: 0 !important;
        margin: 0.9rem !important;
        display: flex;
        flex-direction: column;
        padding-bottom: 0rem;
        border: 0;
        border-radius: 0;
        box-shadow: none;
    }

    .student-foto {
        padding: 1rem 0rem 1rem 0rem;
        margin: 0rem !important;
        display: flex;
        justify-content: center !important;
    }

    img.head_size.img-fluid {
        width: 60% !important;
    }

    .student-data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .skils {
        display: flex;
        flex-direction: row !important;
        padding: 0;
    }

    .skils-item {
        padding: 1rem;
    }

    .post-card>.card-body {
        padding: 5vw;
    }

    .dashbourd-container {
        display: flex !important;
        flex-direction: column !important;
    }

    .posts {
        margin-top: 2rem !important;
    }



}

/*////////////////////////////////////////////////DCI Student LIST  for  MAX 700 px!!    END //////*/

/*////////////////////////////////////////////////POST Article    START       //////*/
.dashbourd-container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-around;
    padding: 0;
}

.posts {
    width: 70vw;
    border-radius: 5px;
    overflow-y: scroll;
    height: 100vh;
}

.posts::-webkit-scrollbar {
    display: none;
}

.posts {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.post-container {
    background-color: #f0f2f5;
    width: 100%;
    padding-bottom: 17px;
}

.post-card {
    background: #ffffff;
    box-shadow: 0px 1px 6px #a3cada;

}

.post-text-area {
    outline: none;
    border-radius: 5px;
    height: 92px;
    border: none;
}

.posts-bottoms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px #c1c1c1;
    padding-top: 5px;
}

.like-div {
    display: flex;
    flex-direction: row;
}

.post-img {
    margin: 17px 0 17px 0;
}

.posts-head {
    padding: 1rem 1rem 0rem 1rem;
    margin-left: 1rem;
}

.text-b {
    padding-bottom: 0 !important;
}

.posts-content {
    padding-bottom: 0;
}

.svg-inline--fa.d {
    display: block;
    font-size: 1.6rem;
    color: rgb(107, 107, 107);
}

h3.post-text {
    color: white;
}

textarea {
    display: flex;
    width: 100%;
}

.m-3 {
    margin: 0rem 1rem 0rem 1rem !important;
}

.date-m {
    font-weight: 500;
    color: black;
}


/*////////////////////////////////////////////////POST Article    END       //////*/


/*////////////////////////////////////////////////POST ARTICLE    START  for 700px !!      //////*/


@media (max-width: 700px) {

    .posts {
        width: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        background: #e9e9e9;
        border-radius: .4em;
    }

    .posts:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        width: 0;
        height: 0;
        border: 20px solid transparent;
        border-top-color: #e9e9e9;
        border-bottom: 0;
        border-left: 0;
        margin-left: -10px;
        margin-bottom: -20px;
    }

    .posts-head {
        width: 8rem;
    }

    .head_size.img-fluid.post {
        padding: 0.8rem;
    }

    .post-container {
        padding: 1rem !important;
    }

    .h5 {
        font-size: 1rem !important;
    }

    .posts-content {
        display: flex;
        flex-direction: column;
        padding: 1rem !important;
    }

    .content-b {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .svg-inline--fa.fa-w-16 {
        width: 1rem;
    }

    .post-h {
        padding: 0;
    }

    button.btn.btn-danger {
        margin: 0 !important;
        padding: 0.2rem !important;
    }

    .date-m {
        font-size: 0.8rem;
    }
    .profile-btns{
        width: 100%;
    }


}












/*////////////////////////////////////////////////POST ARTICLE    END  for 700px !!      //////*/


.respnsiv_form2 {

    max-width: 60%;

}

@media (max-width: 500px) {
    .respnsiv_form2 {

        max-width: 90%;
        min-width: 100%;

    }

}

@media (max-width: 991px) {
    .respnsiv_form3 {

        max-width: 60%;
        min-width: 100%;
    }

    .profiles {
        margin: 0 !important;
        padding: 1rem 0rem 0rem 0rem;
        width: 100%;
    }

    img.head_size.img-fluid {
        width: 100% !important;
    }

    .student-data {
        padding: 1rem 0rem 1rem 0rem;
    }

    .navbar-span {
        display: inline;
        margin-left: 10px;
    }

    .dash-items {
        align-items: center;
        display: flex;
        flex-direction: column;
        background: #eeeeee;
        padding: 1rem;
        margin-bottom: 2rem;
    }

    .hide2 {
        display: none;
    }

    .hide1 {
        width: 100%;
    }

    .hide3 {
        display: none;
    }

    .hide4 {
        width: 100%;
    }

    .line {
        display: none;
    }

<<<<<<< HEAD

    
=======
>>>>>>> ee1717d95d9278e11ef6dbb79f9073dc15f456f7





}


@media (min-width: 992px) {
    .navbar-expand-lg .navbar-collapse {
        display: flex !important;
        flex-basis: auto;
        justify-content: flex-end;
    }



}


.nav-link {
    border: none !important;
}

.logo_size {
    width: 40px;
    margin: 0;
    padding: 0;
}

.NavLink {
    color: white;
    text-decoration: none;
}

.active {
    border: solid white 1px;
    padding: 10px;
    margin: -10px;
    border-radius: 15px;
}


@keyframes loaderAnim {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg)
    }
}

.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid white;
    border-top: 10px solid blue;
    animation: loaderAnim 1.2s linear infinite;
}


.profileinput:hover+.inputtext {
    opacity: 1;
}

.inputtext {
    opacity: 0;
    margin-bottom: 0.6rem;
}