body {
    background-color: #42A5F5 !important;
}

.nav-link {

    border: 1px solid rgb(243, 243, 243) !important;
    border-radius: 10px !important;
    margin: 10px;
    font-weight: bold;

}

.navbar {
    background-color: #42A5F5 !important;
}

.landing-page {
    background-color: #42A5F5 !important;
}

.login-form {
    width: 100%;
    max-width: 20rem;
    padding: 15px;
    margin: auto;
    height: 100%;
}

.login-form-register {
    width: 100%;
    max-width: 40rem;
    padding: 15px;
    margin: auto;
    height: 100%;

}

.btn.wow-register {
    width: 35%;
    margin: auto;
}

.text {
    margin-top: 100px;

}

.p-text {
    font-size: 20px;

}

.card {
    width: 30rem;
    height: 30rem;
    border-radius: 10px !important;
    position: absolute;
    top: 100px;
    margin: 0 auto !important;

}

.card.card-register {

    width: 50rem;
    height: 35rem;
    border-radius: 10px !important;
    position: relative;
    top: 100px;
    margin: 0 auto !important;
    padding-top: 2rem;

}

.form-control{
    background-color: rgb(245, 245, 245)!important;
}






@media only screen and (max-width: 600px) {
    .card {
        width: auto;
        height: 550px;
        border-radius: 0px !important;
    }
}