
.eingabe-gruppe {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.ausgabe-panel {
  position: absolute;
  bottom: 1.5em;
  right: 0;
  left: 0;
  top: 0;
  overflow: auto;
}

.app {
  position: fixed;
  top: 1ch;
  left: 1ch;
  bottom: 1ch;
  right: 1ch;
}

.datum {
  display: block;
  font-size: 70%;
  color: gray;
  text-align: right;
}

#emo, #senden{
  outline: none;
}
#table{
  width: 100%;
}
.emo-menu{
  top: 64%;
  left: 45%;
  position: fixed;
  width: 50%;
  height: 30%;
  background: white;
  border: 1px solid gray;
  border-radius: 8px;
  z-index: 1;
  display: none;
  overflow: scroll;
  
}
th {
  text-align: center;
}
.emo-icon{
  cursor: pointer;
}

